apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
data:
  POSTGRES_USER: {{ .Values.postgresql.base64user | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgresql.base64password | quote }}
  POSTGRES_DB: {{ .Values.postgresql.base64db | quote }}
  SECRET_KEY: {{ .Values.django.base64secretkey | quote }}
